<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>

    <header class="page-header" role="banner">
      <div>
        <h1 class="project-name">
          <a href="/fr"><img src="/fr/fabloch.png" width="100px" /></a>La fabrique du Loch</h1>
      </div>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      <div>
        285 Adhérents  63 Savoir-faire  27 Machines  1547 Objets créés
      </div>

      <div>
        <a href="/fr/fablab">C'est quoi un Fablab?</a> |
        <a href="/fr/association">L'association</a> |
        <a href="/fr/services">Nos services</a> |
        <a href="/fr/machines">Les machines</a> |
        <a href="/fr/projets">Les projets</a>
      </div>

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

    <style>#footer2 .footer-distributed .footer-left { width: 100%; }</style>

      <!-- Asso Footer -->
      <footer id="Footer" class="clearfix">
      	<div class="widgets_wrapper" style="">
          <div class="container">
            <div class="column one">
              <aside id="text-8" class="widget widget_text">
                <div class="textwidget">
                	<div id="footer2">
                		<footer class="footer-distributed">
                			<div class="footer-left" style="margin-bottom: 20px; float:left;">
                        <div style="float: left; width: 100%;">
                          <p class="footer-company-about">
                            <div class="footer-plansite" style="float: left; width: 33%;">
                      				<h2>Plan du site</h2>

                              <ul class="ulfooterlink" style="width: 100%; float: left;">

                                <li><a href="/fabloch">- Accueil</a></li>
                                <li><a href="/fr/association">- La Fabrique</a></li>
                                <li><a href="/fr/actualites">- Actualités</a></li>
                                <li><a href="/fr/services">- Nos services</a></li>
                                <li><a href="/fr/projets">- Les projets</a></li>
                                <li><a href="/fr/reglement">- Règlement intérieur</a></li>

                                <li><a href="https://www.laFabriqueduloch.org/adherer-a-la-Fabrique/">- Adhérer</a></li>
                              </ul>
                            </div>
        			            <div class="footer-center" style="float: left;">
                    				<div><i class="fa fa-map-marker"></i><p><span>8 Rue Georges Clemenceau</span> Auray, France</p></div>
                    				<div><i class="fa fa-phone"></i><p>02 97 58 47 04</p></div>
                    				<div><i class="fa fa-envelope"></i><p><a href="/contacts/">Nous contacter</a></p></div>
                    			</div>

                    			<div class="footer-right" style="float: left;">
                    				<p class="footer-company-about">
                    					<span>Horaires</span>
                    					Mardi : 9h - 12h & 16h - 22h <br> Mercredi : 9h - 12h & 14h - 18h<br>   Jeudi : 10h - 18h <br> Vendredi : 10h - 19h
                              <br> Samedi :  9h - 13h
                    				</p>
                    			</div>
                  		</footer>
      	</div></div>
      		</aside>
        </div></div></div>

        <div class="footer-icons">
          Les projets de la Fabrique du Loch
        {% for repository in site.github.public_repositories %}
          <a href="{{ repository.html_url }}">{{ repository.name }}</a>
        {% endfor %}
      </div>

        <div class="footer-icons">
          <a href="https://www.facebook.com/laFabriqueduloch/?fref=ts" target="_blank"><i class="fa fa-facebook">Facebook</i></a>
          <a href="https://twitter.com/Fabriqueduloch" target="_blank"><i class="fa fa-twitter">Twitter</i></a>
          <a href="https://www.youtube.com/channel/UCsnU-9-jrIern8k1EgZtPIg" target="_blank">Youtube<i class="fa fa-youtube"></i></a>
          <a href="https://www.instagram.com/laFabriqueduloch/" target="_blank"><i class="fa fa-instagram">Instagram</i></a>
        </div>

				<!-- Copyrights -->
				<div class="copyright">
					(cc) 2019 La Fabrique du Loch
          | <a href="https://www.laFabriqueduloch.org/conditions-dutilisation/">Utilisation et partage sous licence Creative Commonse</a>
          | <a href=" https://www.laFabriqueduloch.org/mentions-legales/">Mentions Légales</a> </div>
				<ul class="social"></ul>

      </footer>

      <!-- Theme Footer -->
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
